*{

    font-family: monospace;
}
img{
    width: 100px;
    height: 100px;
}

.smImg {
    width: 20px;
    height: 20px;
}

#app {
    width: 600px;
    height: 20px;
    margin: auto;
    margin-top: 20px;
}

ul {
    list-style: none;
    overflow: hidden;
}

.type{
    width: 350px;
    height: 500px;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    padding: 8px;
}

.hourtab {
    width: 200px;
    height: 220px;
    border: 1px dotted black;
    margin: 30px;
    padding-top: 13px;

}
