*{

    font-family: monospace;
}
img{
    width: 90px;
    height: 90px;
}

.smImg {
    width: 20px;
    height: 20px;
}

#app {
    width: 600px;
    height: 20px;
    margin: auto;
    margin-top: 20px;
}

ul {
    list-style: none;
    overflow: hidden;
}

.type{
    width: 360px;
    height: 530px;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    padding: 16px;
}

.hourtab {
    width: 200px;
    height: 180px;
    border: 1px dotted;
    border-color: inherit;
    margin: 30px;
    padding-top: 13px;
    background-color: white;

}

.type:hover {
    border: 2px solid white;
    background-color: #add8e1;
    color: #00008b;
}
